.contenedorPr{
    display: grid;
    grid-template-columns:110px 1fr 110px;
    grid-template-rows:150px 1fr 150px ;
}

.contenedorSg{
    max-width:28rem;
    width: 80%;
    padding: 50px;
    border-radius:  1rem;
    background-color: #d8d6d6;
    text-align: center;grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
}

.titulo{
    text-align: center;
    color: #3f3f3f;
    cursor: default;
}


.input2{
    width: 80%;
    background: #3f3f3f;
    color: #fff;
    padding: 9px 0 9px 10px;
    margin-top: 12px;
    border-radius: .5rem;
    font-size: 15px;
    border: none;

}


.button1{
    color: #3f3f3f;
    background-color: #d8d6d6;
    margin-top: 20px;
    border: 0;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: .4rem;
    transition: all .5s;
    font-size: 15px;
}

.button1:hover{
    background: #bebebe;
    box-shadow: 0 3px 5px gray;
    color: black;
}


.errors{
    background-color: #fa4747;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 5px auto;
    width: 250px;
    
}